.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
/* shared styles */
.btn-primary {
  font-size: 16px;
  background-color: rgb(78, 71, 255);
  color: white;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  padding: 12px 35px;
}

.btn-primary:hover {
  background-color: rgb(120, 116, 229);
}
/* Header Styles */
.navbar {
  height: 698px;
  background-image: url("../images/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
nav {
  padding: 50px;
  display: flex;
  justify-content: space-between;
}
.nav-title {
  color: rgb(78, 71, 255);
}

.nav-btn {
  display: flex;
  align-items: center;
}
.banner {
  margin-top: 120px;
  text-align: center;
}
.banner-title {
  color: rgb(37, 36, 50);
  font-size: 55px;
}

/* Action Styles */
.action {
  display: flex;
  justify-content: space-between;
  padding: 150px;
}
.action-info {
  margin: 60px 60px 60px 0px;
}
.action-title {
  color: rgb(37, 36, 50);
  font-size: 40px;
  font-weight: bold;
}
.action-description {
  font-size: 25px;
  color: rgba(37, 36, 50, 0.5);
}
.action-img {
  height: 320px;
  width: 400px;
  border-radius: 50px;
}

/* Productive-Users section */
.productive-user {
  background-color: rgba(78, 71, 255, 0.1);
  margin: 120px 150px;
  border-radius: 25px;
}
.productive {
  padding: 50px 80px;
}
.productive-title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: rgba(37, 36, 50, 1);
}
.productive-info {
  display: flex;
  gap: 160px;
  justify-content: space-between;
}
.pro-title {
  color: rgb(78, 71, 255);
  font-size: 80px;
}
.pro-description {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
}
/* Review section */
.review-title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: rgba(37, 36, 50, 1);
}
.review-card-container {
  padding: 50px 150px 150px 150px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.review-card {
  padding: 25px;
  border: 1px solid #f2eded;
  border-radius: 15px;
}
.card-footer-container {
  display: flex;
  gap: 6px;
  padding: 25px 25px 25px 0;
}
.card-footer img {
  border-radius: 40%;
}

/* Focus Section Styles */
.focus-container {
  text-align: center;
  margin: 70px 150px;
}
.focus-title {
  font-weight: bold;
  font-size: 50px;
}
.focus-info {
  color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}
.focus-image {
  padding: 20px;
}
.focus-image img {
  border-radius: 50px;
}

/* Newsletter section Styles */
.newsletter-container {
  display: flex;
  justify-content: center;
  gap: 80px;
}
.newsletter-title {
  text-align: center;
  font-weight: bold;
  font-size: 90px;
  padding: 200px 0;
}
.newsletter-form {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
}

input,
textarea {
  width: 100%;
  margin: 8px 0;
  padding: 15px;
  border-radius: 10px;
}

.form-btn-submit {
  font-size: 16px;
  background-color: rgb(78, 71, 255);
  color: white;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  padding: 20px 100px;
  width: 100%;
}

/* Footer Section Styles */
.footer-container {
  margin: 50px 350px;
  text-align: center;
}
.footer-title {
  color: rgb(78, 71, 255);
  font-size: 40px;
  text-align: center;
}
.footer-info {
  color: rgba(137, 135, 161, 1);
}
.footer-link {
  color: rgba(137, 135, 161, 1);
}
.footer-link ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-link ul li {
  list-style: none;
}
